#logosvg{
	width:15rem;
}

body{
	color:#4A4A4A;
}

#clasificados{
	background-color:#f2f2f2;
	border:1px solid;
	border-color:#e6e6e6;
}

#adaptacion_movil{
	background-color:#f2f2f2;
	border:1px solid;
	border-color:#e6e6e6;
}

#equipo{
	background-color:#f2f2f2;
	border:1px solid;
	border-color:#e6e6e6;
}




footer ul{
	position: relative;
	float: left
	
}

footer li{
	display: inline-block;
	border-right: 4px black;


}

footer li a{
	font-size: 0.8571rem;
	color: #222222;


}

footer li:first-child{
	border-right: 4px black;

}




